@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@keyframes animation1 {
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
/* ===================================Header===================================== */
.header {
  z-index: 10;
  top: 0;
  margin: auto;
  position: fixed;
  width: 100vw;
}
.header.window-scrolled {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.header .menu {
  display: none;
}
@media all and (max-width: 1280px) {
  .header .menu {
    display: block;
    margin-top: 2rem;
  }
  .header .menu img {
    margin-right: 2rem;
  }
  .header .menu i {
    cursor: pointer;
    font-size: 30px;
    color: #064f97;
  }
}
@media all and (max-width: 800px) {
  .header .menu img {
    margin-right: 1rem;
  }
}
.header .header__container {
  max-width: 1728px;
  background-color: #F6EEEA;
  margin: 0 auto;
  padding: 3.78rem 5.6rem 1rem;
  display: flex;
}
@media all and (max-width: 1280px) {
  .header .header__container {
    justify-content: space-between;
  }
}
@media all and (max-width: 1727px) {
  .header .header__container {
    padding: 3.78rem 5rem 1rem;
  }
}
@media all and (max-width: 1589px) {
  .header .header__container {
    padding: 3.78rem 3rem 1rem;
  }
}
@media all and (max-width: 1333px) {
  .header .header__container {
    padding: 2rem 1rem 1rem;
  }
}
.header .header__container .header__nav {
  margin-top: 2.1rem;
  margin-left: 10.5rem;
}
@media all and (max-width: 1727px) {
  .header .header__container .header__nav {
    margin-left: 3rem;
  }
}
@media all and (max-width: 1727px) and (max-width: 1280px) {
  .header .header__container .header__nav {
    margin-top: 0rem;
    position: absolute;
    top: 100%;
    right: 0;
    gap: 0;
    background-color: #243A73;
    display: none;
  }
  .header .header__container .header__nav.active {
    display: block;
  }
}
.header .header__container .header__nav ul {
  display: inline-flex;
  gap: 4.5rem;
}
@media all and (max-width: 1530px) {
  .header .header__container .header__nav ul {
    gap: 4rem;
  }
}
@media all and (max-width: 1450px) {
  .header .header__container .header__nav ul {
    gap: 3rem;
  }
}
@media all and (max-width: 1400px) {
  .header .header__container .header__nav ul {
    gap: 2rem;
  }
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0;
  }
}
.header .header__container .header__nav ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #243A73;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul li {
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #00274d;
    width: 100%;
    animation: animation1 400ms ease forwards;
  }
}
.header .header__container .header__nav ul li:nth-child(2) {
  margin-left: 0.3rem;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul li:nth-child(2) {
    margin-left: 0rem;
  }
}
.header .header__container .header__nav ul li:nth-child(3) {
  margin-left: -0.8rem;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul li:nth-child(3) {
    margin-left: 0rem;
  }
}
.header .header__container .header__nav ul li:nth-child(4) {
  margin-left: 0.6rem;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul li:nth-child(4) {
    margin-left: 0rem;
  }
}
.header .header__container .header__nav ul li:nth-child(6) {
  margin-top: -0.6rem;
  background-color: #243A73;
  border-radius: 6px;
  padding: 0.8rem 2.1rem;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  margin-left: -0.1rem;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__nav ul li:nth-child(6) {
    background-color: #F6EEEA;
    margin-left: 0rem;
    color: #243A73;
    padding: 1rem;
  }
}
.header .header__container .header__icon {
  margin-left: 3.5rem;
  margin-top: 1.5rem;
  gap: 3rem;
}
@media all and (max-width: 1280px) {
  .header .header__container .header__icon {
    display: none;
  }
}
@media all and (max-width: 1530px) {
  .header .header__container .header__icon {
    margin-left: 1.5rem;
  }
}
.header .header__container .header__icon img:nth-child(2) {
  margin-top: 0.1rem;
  margin-left: 1.4rem;
}
@media all and (max-width: 1530px) {
  .header .header__container .header__icon img:nth-child(2) {
    margin-left: 0.8rem;
  }
}

/* ==================================banner===================================== */
.banner {
  position: relative;
  margin: 0 auto;
  max-width: 1728px;
  height: 1014px;
}
.banner img {
  max-width: 1728px;
  width: 100%;
  height: 100%;
  display: block;
}
.banner .banner__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1194px;
  margin: auto;
  align-items: center;
  top: 23%;
  left: 14.5%;
}
@media all and (max-width: 1650px) {
  .banner .banner__text {
    width: 80%;
    top: 42%;
    left: 45%;
    transform: translate(-42%, -45%);
  }
}
.banner .banner__text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  display: flex;
  align-items: center;
  background: linear-gradient(90.29deg, #243A73 3.51%, #FB5B01 117.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media all and (max-width: 1650px) {
  .banner .banner__text h1 {
    font-size: 80px;
  }
}
@media all and (max-width: 1500px) {
  .banner .banner__text h1 {
    font-size: 70px;
  }
}
@media all and (max-width: 1350px) {
  .banner .banner__text h1 {
    font-size: 55px;
  }
}
@media all and (max-width: 800px) {
  .banner .banner__text h1 {
    font-size: 45px;
  }
}
@media all and (max-width: 600px) {
  .banner .banner__text h1 {
    font-size: 40px;
  }
}
.banner .banner__text h2 {
  margin-left: 1.7rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #010F52;
}
@media all and (max-width: 1650px) {
  .banner .banner__text h2 {
    font-size: 40px;
  }
}
@media all and (max-width: 1350px) {
  .banner .banner__text h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 800px) {
  .banner .banner__text h2 {
    font-size: 25px;
    line-height: 40px;
  }
}

/* ===================================services==================================== */
.services {
  margin: auto;
  margin-top: 7rem;
  max-width: 1655px;
  height: 1979px;
  background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
  border-radius: 20px;
  /* ======================Segunda seccion de services==================== */
}
@media all and (max-width: 1615px) {
  .services {
    height: auto;
  }
}
.services h3 {
  padding-top: 2.5rem;
  margin-left: -3.9rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  justify-content: center;
  color: #0E538C;
}
@media all and (max-width: 1350px) {
  .services h3 {
    font-size: 30px;
  }
}
.services .services__container_top {
  padding-top: 2.4rem;
  padding-left: 4.9rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 25.2% auto;
  gap: 2.6rem;
}
@media all and (max-width: 1280px) {
  .services .services__container_top {
    grid-template-columns: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media all and (max-width: 900px) {
  .services .services__container_top {
    grid-template-columns: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.services .services__container_top .top_card-first {
  background-image: url("images/card-first.png");
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
  border-radius: 10px;
}
@media all and (max-width: 1280px) {
  .services .services__container_top .top_card-first {
    background-size: cover;
  }
}
@media all and (max-width: 1566px) {
  .services .services__container_top .top_card-first {
    padding: 2.5rem 2.5rem;
  }
}
@media all and (max-width: 1377px) {
  .services .services__container_top .top_card-first {
    padding: 1.5rem 1.5rem;
  }
}
.services .services__container_top .top_card-first img {
  margin-left: -1rem;
}
.services .services__container_top .top_card-first span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
  margin-left: 2rem;
}
.services .services__container_top .top_card-first p {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
.services .services__container_top .top_card-first img {
  margin-top: 0.2rem;
  margin-left: -1rem;
}
.services .services__container_top .top__cards {
  margin-top: 4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem 5rem;
}
@media all and (max-width: 1650px) {
  .services .services__container_top .top__cards {
    gap: 2rem 2rem;
  }
}
@media all and (max-width: 1500px) {
  .services .services__container_top .top__cards {
    gap: 1rem 1rem;
  }
}
.services .services__container_top .top__cards .top__card {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.services .services__container_top .top__cards .top__card img {
  margin-top: 0.2rem;
}
.services .services__container_top .top__cards .top__card span {
  margin-left: 1.6rem;
  margin-top: 1.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card p {
  margin-top: 0.8rem;
  margin-left: 0.6rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(1) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.services .services__container_top .top__cards .top__card:nth-child(1) img {
  margin-left: -0.6rem;
  margin-top: 0rem;
}
.services .services__container_top .top__cards .top__card:nth-child(1) span {
  margin-left: 1rem;
  margin-top: 1.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(1) p {
  margin-top: 1rem;
  margin-left: 0.1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(2) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.9rem 1rem;
}
.services .services__container_top .top__cards .top__card:nth-child(2) img {
  margin-top: 0.2rem;
}
.services .services__container_top .top__cards .top__card:nth-child(2) span {
  margin-left: 1.5rem;
  margin-top: 1.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(2) p {
  margin-top: 0.8rem;
  margin-left: -0.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(3) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1.4rem;
}
.services .services__container_top .top__cards .top__card:nth-child(3) img {
  margin-top: 0.3rem;
}
.services .services__container_top .top__cards .top__card:nth-child(3) span {
  margin-left: -1.8rem;
  margin-top: 1.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(3) p {
  margin-top: 1.5rem;
  margin-left: -0.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(4) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 1.1rem;
}
.services .services__container_top .top__cards .top__card:nth-child(4) img {
  margin-top: 0.3rem;
  margin-left: -0.5rem;
}
.services .services__container_top .top__cards .top__card:nth-child(4) span {
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(4) p {
  margin-top: 0.8rem;
  margin-left: -0.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(5) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 1.3rem;
}
.services .services__container_top .top__cards .top__card:nth-child(5) img {
  margin-top: 0.3rem;
  margin-left: -0.9rem;
}
.services .services__container_top .top__cards .top__card:nth-child(5) span {
  margin-left: 1rem;
  margin-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(5) p {
  margin-top: 0.8rem;
  margin-left: -0.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .services__container_top .top__cards .top__card:nth-child(6) {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 30px 10px #F2F2F2;
  border-radius: 11px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.3rem;
}
.services .services__container_top .top__cards .top__card:nth-child(6) img {
  margin-top: 1.3rem;
  margin-left: 1rem;
}
.services .services__container_top .top__cards .top__card:nth-child(6) span {
  margin-left: -0.3rem;
  margin-top: 1.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #0E538C;
}
.services .services__container_top .top__cards .top__card:nth-child(6) p {
  margin-top: 0.8rem;
  margin-left: -0.2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}
.services .title-services-buttom {
  margin: auto;
  margin-top: 7.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-transform: capitalize;
  width: 777px;
  color: #010F52;
}
@media all and (max-width: 1350px) {
  .services .title-services-buttom {
    max-width: 777px;
    font-size: 40px;
    width: auto;
  }
}
@media all and (max-width: 1100px) {
  .services .title-services-buttom {
    font-size: 30px;
  }
}
.services .sub-title-services-buttom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #a4a1a1;
  width: 788px;
  margin: auto;
  margin-top: 2rem;
  padding-left: 3.56rem;
}
@media all and (max-width: 1350px) {
  .services .sub-title-services-buttom {
    max-width: 777px;
    width: 80%;
    padding-left: 0rem;
  }
}
.services .services__container_bottom {
  display: grid;
  margin: auto;
  margin-top: 5.6rem;
  padding-left: 214px;
  padding-right: 150px;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-column: center;
  gap: 3.1rem;
}
@media all and (max-width: 1615px) {
  .services .services__container_bottom {
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }
}
@media all and (max-width: 900px) {
  .services .services__container_bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }
}
.services .services__container_bottom .buttom__card {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(38, 57, 237, 0.16);
  border-radius: 14px;
  height: 199px;
  display: grid;
  grid-template-columns: 20% auto;
  padding: 2.5rem 2rem;
}
.services .services__container_bottom .buttom__card .card-Text {
  padding-right: 1rem;
}
.services .services__container_bottom .buttom__card .card-Text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #0A093D;
}
.services .services__container_bottom .buttom__card .card-Text p {
  margin-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.services .services__container_bottom .buttom__card:nth-child(3) {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(38, 57, 237, 0.16);
  border-radius: 14px;
  height: 199px;
  display: grid;
  grid-template-columns: 20% auto;
  padding: 2.5rem 2rem;
}
.services .services__container_bottom .buttom__card:nth-child(3) img {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}
.services .services__container_bottom .buttom__card:nth-child(3) .card-Text {
  padding-right: 1rem;
}
.services .services__container_bottom .buttom__card:nth-child(3) .card-Text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #0A093D;
  margin-left: 0.2rem;
  margin-top: 1rem;
}
.services .services__container_bottom .buttom__card:nth-child(3) .card-Text p {
  margin-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 0.2rem;
}
.services .services__container_bottom .buttom__card:nth-child(4) {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(38, 57, 237, 0.16);
  border-radius: 14px;
  height: 199px;
  display: none;
  grid-template-columns: 20% auto;
  padding: 2.5rem 2rem;
}
@media all and (max-width: 1209px) {
  .services .services__container_bottom .buttom__card:nth-child(4) {
    display: grid;
  }
}
.services .services__container_bottom .buttom__card:nth-child(4) img {
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}
.services .services__container_bottom .buttom__card:nth-child(4) .card-Text {
  padding-right: 1rem;
}
.services .services__container_bottom .buttom__card:nth-child(4) .card-Text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #0A093D;
  margin-left: 0.2rem;
  margin-top: 1rem;
}
.services .services__container_bottom .buttom__card:nth-child(4) .card-Text p {
  margin-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-left: 0.2rem;
}
.services .buttom__container_last {
  margin: auto;
  margin-top: 4.8rem;
  max-width: 1728px;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 1209px) {
  .services .buttom__container_last {
    display: none;
  }
}
.services .buttom__container_last .buttom__card-last {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(38, 57, 237, 0.16);
  border-radius: 14px;
  max-width: 615px;
  margin-left: 2.8rem;
  height: 199px;
  display: grid;
  grid-template-columns: 20% auto;
  padding: 2.5rem 2rem;
}
@media all and (max-width: 1209px) {
  .services .buttom__container_last .buttom__card-last {
    margin-left: 0rem;
    max-width: 1700px;
    max-width: 100%;
  }
}
.services .buttom__container_last .buttom__card-last img {
  margin-top: 0.4rem;
  margin-left: 1rem;
}
.services .buttom__container_last .buttom__card-last .card-Text {
  padding-right: 1rem;
}
.services .buttom__container_last .buttom__card-last .card-Text span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #0A093D;
}
.services .buttom__container_last .buttom__card-last .card-Text p {
  margin-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/*================================== Sing UP================================== */
.sing__up {
  margin: auto;
  margin-top: 0.6rem;
  max-width: 1612px;
  height: 360px;
  left: 58px;
  top: 3117px;
  padding: 5rem 8.6rem;
  display: grid;
  grid-template-columns: 40% auto;
  background: #F5F5F5;
  border-radius: 20px;
}
@media all and (max-width: 1523px) {
  .sing__up {
    height: auto;
  }
}
@media all and (max-width: 1179px) {
  .sing__up {
    height: auto;
    padding: 4rem 2rem;
  }
}
@media all and (max-width: 700px) {
  .sing__up {
    grid-template-columns: auto;
    height: auto;
    gap: 3rem;
  }
}
@media all and (max-width: 1179px) {
  .sing__up img {
    width: 100%;
  }
}
@media all and (max-width: 700px) {
  .sing__up img {
    width: 80%;
  }
}
.sing__up .sing__up-container {
  margin-top: -2rem;
  margin-left: 2rem;
}
.sing__up .sing__up-container span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  text-transform: capitalize;
  color: #010F52;
}
@media all and (max-width: 1350px) {
  .sing__up .sing__up-container span {
    font-size: 40px;
  }
}
@media all and (max-width: 1100px) {
  .sing__up .sing__up-container span {
    font-size: 30px;
  }
}
.sing__up .sing__up-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4E4E4E;
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  max-width: 579px;
}
.sing__up .sing__up-container button {
  margin-top: 2.2rem;
  margin-left: 0.8rem;
  padding: 1.5rem 3.5rem 1.5rem 4.3rem;
  background: #243A73;
  box-shadow: 6px 6px 30px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}
@media all and (max-width: 1179px) {
  .sing__up .sing__up-container button {
    padding: 1.5rem 2rem;
    font-size: 18px;
  }
}

/*========================== How It word ====================*/
.How__it-works {
  position: relative;
  margin: auto;
  margin-top: 5.3rem;
  max-width: 1728px;
}
.How__it-works .line_1 {
  position: absolute;
  top: 24%;
  right: 43.71%;
}
@media all and (max-width: 1050px) {
  .How__it-works .line_1 {
    display: none;
  }
}
.How__it-works .line_2 {
  position: absolute;
  top: 41%;
  right: 50%;
}
@media all and (max-width: 1050px) {
  .How__it-works .line_2 {
    display: none;
  }
}
.How__it-works .line_3 {
  position: absolute;
  top: 76%;
  right: 50%;
}
@media all and (max-width: 1050px) {
  .How__it-works .line_3 {
    display: none;
  }
}
.How__it-works h3 {
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
@media all and (max-width: 1350px) {
  .How__it-works h3 {
    font-size: 40px;
  }
}
@media all and (max-width: 1100px) {
  .How__it-works h3 {
    font-size: 30px;
  }
}
.How__it-works .sub_title {
  display: block;
  margin: auto;
  margin-top: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #4E4E4E;
  max-width: 759px;
}
@media all and (max-width: 800px) {
  .How__it-works .sub_title {
    width: 90%;
  }
}
.How__it-works .word__card-conatainer {
  margin: auto;
  max-width: 1282px;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2rem;
}
@media all and (max-width: 1347px) {
  .How__it-works .word__card-conatainer {
    width: 90%;
  }
}
.How__it-works .word__card-conatainer .word_card {
  display: grid;
  grid-template-columns: 20% 30%;
  padding: 5rem 0rem;
  gap: 6rem;
}
@media all and (max-width: 1347px) {
  .How__it-works .word__card-conatainer .word_card {
    padding: 1rem 0rem;
    gap: 2rem;
  }
}
@media all and (max-width: 732px) {
  .How__it-works .word__card-conatainer .word_card {
    grid-template-columns: auto;
  }
}
.How__it-works .word__card-conatainer .word_card span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #010F52;
}
.How__it-works .word__card-conatainer .word_card p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4E4E4E;
}
.How__it-works .word__card-conatainer .word_card:nth-child(1) {
  display: grid;
  grid-template-columns: 40% auto;
  grid-column: 1/1;
  grid-row: 1/1;
}
@media all and (max-width: 1347px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(1) {
    padding: 1rem 0rem;
    gap: 2rem;
  }
}
@media all and (max-width: 700px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(1) {
    grid-template-columns: auto;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(1) img {
  margin-left: 3.8rem;
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(1) img {
    margin-left: 0rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(1) .word_text {
  margin-top: 2rem;
}
.How__it-works .word__card-conatainer .word_card:nth-child(1) .word_text p {
  margin-top: 0.9rem;
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(1) {
    grid-column: 1/1;
    grid-row: 1/1;
    gap: 1rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(2) {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 40% auto;
  grid-column: 2/2;
  grid-row: 2/2;
  gap: 4rem;
  margin-left: 0rem;
}
@media all and (max-width: 700px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(2) {
    grid-template-columns: auto;
  }
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(2) {
    grid-column: 1/2;
    gap: 1rem;
    margin-top: 1rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(2) img {
  margin-left: 1.8rem;
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(2) img {
    margin-left: 0rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(2) .word_text {
  margin-top: 2.3rem;
}
.How__it-works .word__card-conatainer .word_card:nth-child(2) .word_text p {
  margin-top: 0.9rem;
  /*                     width: 343px;
   */
}
.How__it-works .word__card-conatainer .word_card:nth-child(3) {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 40% auto;
  grid-row: 3/3;
  gap: 8rem;
}
@media all and (max-width: 700px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(3) {
    grid-template-columns: auto;
  }
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(3) {
    grid-column: 1/2;
    gap: 1rem;
    margin-top: 1rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(3) img {
  margin-left: 2.7rem;
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(3) img {
    margin-left: 0rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(3) .word_text {
  margin-top: 2.3rem;
}
.How__it-works .word__card-conatainer .word_card:nth-child(3) .word_text p {
  margin-top: 0.9rem;
  /*                     width: 275px;
   */
}
.How__it-works .word__card-conatainer .word_card:nth-child(4) {
  gap: 3rem;
  margin-top: 5rem;
  margin-left: 0rem;
  display: grid;
  grid-template-columns: 40% auto;
  justify-self: end;
  grid-column: 2/2;
  grid-row: 4/4;
}
@media all and (max-width: 700px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(4) {
    grid-template-columns: auto;
  }
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(4) {
    grid-column: 1/2;
    gap: 1rem;
    margin-top: 1rem;
    justify-self: stretch;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(4) img {
  margin-left: 2rem;
}
@media all and (max-width: 1050px) {
  .How__it-works .word__card-conatainer .word_card:nth-child(4) img {
    margin-left: 0rem;
  }
}
.How__it-works .word__card-conatainer .word_card:nth-child(4) .word_text {
  margin-top: 2.3rem;
  margin-left: 1rem;
}
.How__it-works .word__card-conatainer .word_card:nth-child(4) .word_text p {
  margin-top: 0.9rem;
  /*                     width: 275px;
   */
}

.sustainable__Services {
  max-width: 1728px;
  margin: auto;
  margin-top: 1rem;
  background-image: url("images/Weather-report.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 1180px;
}
@media all and (max-width: 1710px) {
  .sustainable__Services {
    height: auto;
  }
}
.sustainable__Services h3 {
  margin-top: 6.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
@media all and (max-width: 1350px) {
  .sustainable__Services h3 {
    font-size: 40px;
  }
}
@media all and (max-width: 1100px) {
  .sustainable__Services h3 {
    font-size: 30px;
  }
}
.sustainable__Services p {
  margin-top: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #4E4E4E;
}
@media all and (max-width: 1100px) {
  .sustainable__Services p {
    width: 80%;
    margin: auto;
  }
}
.sustainable__Services .sustainable__Services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 5rem 7rem;
  padding: 6rem 11.9rem 6rem 10.4rem;
}
@media all and (max-width: 1715px) {
  .sustainable__Services .sustainable__Services-cards {
    gap: 3rem 5rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media all and (max-width: 1715px) {
  .sustainable__Services .sustainable__Services-cards {
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media all and (max-width: 1100px) {
  .sustainable__Services .sustainable__Services-cards {
    padding: 4rem 2rem;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
.sustainable__Services .sustainable__Services-cards .sustainable_card {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 1.5rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card img {
  margin-top: 3rem;
  margin-left: -0.2rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card span {
  margin-top: -1rem;
  margin-left: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card p {
  margin-top: -2.1rem;
  margin-left: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(2) {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(2) img {
  margin-top: 2rem;
  margin-left: -0.1rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(2) span {
  margin-top: -1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(2) p {
  padding: 0 0.9rem;
  margin-top: -1.9rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(3) {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(3) img {
  margin-top: 2rem;
  margin-left: -0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(3) span {
  margin-left: -0.3rem;
  margin-top: -1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(3) p {
  padding: 0 1.5rem;
  margin-top: -1.9rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(4) {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(4) img {
  margin-top: 2.2rem;
  margin-left: -1.6rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(4) span {
  margin-left: -0.9rem;
  margin-top: -0.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(4) p {
  margin-left: 0rem;
  padding: 0 1.5rem;
  margin-top: -1.9rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(5) {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(5) img {
  margin-top: 2.5rem;
  margin-left: 0rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(5) span {
  margin-left: 0.1rem;
  margin-top: -0.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(5) p {
  margin-left: 0rem;
  padding: 0 1.5rem;
  margin-top: -1.9rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(6) {
  height: 330px;
  background: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  padding: 0 0.3rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(6) img {
  margin-top: 2.9rem;
  margin-left: 0rem;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(6) span {
  margin-left: 0.3rem;
  margin-top: -1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #010F52;
}
.sustainable__Services .sustainable__Services-cards .sustainable_card:nth-child(6) p {
  margin-left: 0.1rem;
  padding: 0 1.5rem;
  margin-top: -2.8rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #737576;
}

.Smart__container {
  margin-top: -30rem;
  max-width: 1612px;
  height: 360px;
  margin: auto;
  background: #F5F5F5;
  border-radius: 20px;
  padding: 2.5rem 10rem;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 10rem;
}
@media all and (max-width: 1179px) {
  .Smart__container {
    padding: 2.5rem 2rem;
    gap: 3rem;
  }
}
@media all and (max-width: 700px) {
  .Smart__container {
    grid-template-columns: auto;
    height: auto;
  }
}
.Smart__container img {
  margin-left: 2rem;
}
@media all and (max-width: 1179px) {
  .Smart__container img {
    width: 100%;
  }
}
@media all and (max-width: 700px) {
  .Smart__container img {
    width: 80%;
  }
}
.Smart__container .Smart__container_rigth {
  margin-top: 1rem;
  margin-left: 6rem;
}
.Smart__container .Smart__container_rigth span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */
  text-transform: capitalize;
  color: #010F52;
}
@media all and (max-width: 1350px) {
  .Smart__container .Smart__container_rigth span {
    font-size: 40px;
  }
}
@media all and (max-width: 1100px) {
  .Smart__container .Smart__container_rigth span {
    font-size: 30px;
  }
}
.Smart__container .Smart__container_rigth p {
  font-family: "Poppins";
  margin-left: -5rem;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #4E4E4E;
}
.Smart__container .Smart__container_rigth button {
  margin-top: 2rem;
  margin-left: 0rem;
  padding: 1.3rem 3.5rem 1.3rem 4.3rem;
  background: #243A73;
  box-shadow: 6px 6px 30px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
}
@media all and (max-width: 1179px) {
  .Smart__container .Smart__container_rigth button {
    padding: 1.5rem 2rem;
    font-size: 18px;
  }
}

/* =================================footer===================== */
footer {
  position: relative;
  bottom: 0;
  background-image: radial-gradient(circle, #0e759e, #006a9a, #005f95, #00548f, #004888, #02417e, #043974, #04326a, #002d5c, #00274d, #04223f, #071c31);
  height: 392px;
  margin-top: 4rem;
}
@media all and (max-width: 1600px) {
  footer {
    height: auto;
  }
}
footer .footer__container {
  max-width: 1728px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding: 4rem 7rem;
  margin: auto;
}
@media all and (max-width: 1280px) {
  footer .footer__container {
    padding: 4rem 2rem;
  }
}
@media all and (max-width: 990px) {
  footer .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    width: 90%;
  }
}
footer .footer__container .container-1 {
  margin-top: 1.1rem;
}
@media all and (max-width: 990px) {
  footer .footer__container .container-1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer__container .container-1 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 156% */
  text-transform: capitalize;
  color: #FFFFFF;
}
footer .footer__container .container-1 p {
  margin-top: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  padding: 0 0.9rem 0rem 0;
  /* or 157% */
  color: rgba(255, 255, 255, 0.6784313725);
}
footer .footer__container .container-1 .footer__socials {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  margin-left: 0.8rem;
}
footer .footer__container .container-2 {
  padding-top: 2rem;
  padding-left: 7rem;
  display: flex;
  gap: 9.5rem;
}
@media all and (max-width: 990px) {
  footer .footer__container .container-2 {
    padding-left: 1rem;
    gap: 3rem;
    padding-left: 0rem;
    width: 90%;
    justify-content: space-between;
  }
}
@media all and (max-width: 800px) {
  footer .footer__container .container-2 {
    padding-left: 1rem;
    gap: 0rem;
    padding-left: 0rem;
    width: 90%;
  }
}
@media all and (max-width: 580px) {
  footer .footer__container .container-2 {
    padding-left: 0rem;
    gap: 0rem;
    padding-left: 0rem;
    width: 90%;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 380px) {
  footer .footer__container .container-2 {
    padding-left: 0rem;
    gap: 0rem;
    padding-left: 0rem;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (max-width: 1650px) {
  footer .footer__container .container-2 {
    gap: 7.5rem;
  }
}
@media all and (max-width: 1650px) {
  footer .footer__container .container-2 {
    gap: 5rem;
  }
}
@media all and (max-width: 1200px) {
  footer .footer__container .container-2 {
    gap: 3rem;
  }
}
footer .footer__container .container-2 list_footer-3 {
  margin-left: 1rem;
}
footer .footer__container .container-2 span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  text-transform: capitalize;
  color: #FFFFFF;
}
footer .footer__container .container-2 ul li {
  margin-top: 1rem;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  color: rgba(255, 255, 255, 0.5215686275);
}
footer .footer__container .container-2 ul li:nth-child(1) {
  margin-top: 1.5rem;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
}
footer .footer__container .container-2 .list_footer-3 {
  margin-left: -1rem;
}
footer .footer__container .container-3 {
  margin-left: 5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 990px) {
  footer .footer__container .container-3 {
    margin-left: 0rem;
    width: 90%;
    align-items: center;
  }
}
footer .footer__container .container-3 span {
  margin-left: -0.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  text-transform: capitalize;
  color: #FFFFFF;
}
footer .footer__container .container-3 .input_buttom {
  display: flex;
  margin-left: -1.3rem;
  margin-top: 1.5rem;
}
@media all and (max-width: 990px) {
  footer .footer__container .container-3 .input_buttom {
    margin-left: 0rem;
    width: 90%;
    align-items: center;
  }
}
footer .footer__container .container-3 .input_buttom input[type=text] {
  background: transparent;
  width: 14.5vw;
  height: 3.6rem;
  padding-left: 20px;
  margin-left: 1rem;
  font-size: 0.9rem;
  border: solid 1px #c4dae7;
  border-radius: 10px 0px 0 10px;
  color: white;
}
@media all and (max-width: 990px) {
  footer .footer__container .container-3 .input_buttom input[type=text] {
    width: 100%;
    padding-left: 20px;
    margin-left: 0rem;
  }
}
footer .footer__container .container-3 .input_buttom input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.712);
}
footer .footer__container .container-3 .input_buttom button {
  padding: 1rem 1.3rem;
  background: #64A5CA;
  border-radius: 0px 10px 10px 0px;
}

/*# sourceMappingURL=style.css.map */
